<?xml version="1.0" encoding="UTF-8"?>
<configuration status="INFO">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH} [%t] %-5level %logger{5} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="INFO"> <!-- 全局配置 -->
            <AppenderRef ref="Console" />
        </Root>

    </Loggers>

</configuration>